<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <form>
        <div class="form-group">
            <label for="name">Nome Completo:</label>
            <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Seu nome completo">
        </div>
        <div class="form-group">
            <label for="name">Nome da empresa:</label>
            <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Nome da empresa">
        </div>

        <div class="form-group">
            <label for="name">Nome do anúncio:</label>
            <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Nome do anúncio">
        </div>

        <div class="form-group">
            <label for="name">Categoria:</label>
            <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Categoria">
        </div>

        <div class="form-group">
            <label for="int">Código:</label>
            <input type="int" class="form-control" id="int" aria-describedby="int" placeholder="Código do anúncio">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Clique aqui</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar solicitação</button>
    </form>
</body>

</html>