<!DOCTYPE html>
<html>

<head>
    <title>SKITEC COMMERCE!</title>
</head>

<body>
    <h1>SKITEC COMMERCE</h1>
    <p>
    <h2>Bem vindo a loja!</h2>
    </p>
    <p><a href={{url_for("usuario")}}> Criar Conta</a></p>
    <p><a href={{url_for("perguntas")}}> Perguntas</a></p>
    <p><a href={{url_for("anuncio")}}> Adicionar Anúncio</a></p>
    <p><a href={{url_for("comprar")}}> Comprar Anúncio</a></p>
    <p><a href={{url_for("relatorios")}}> Emitir Relatórios</a></p>
</body>

</html>